# **Trabalho Final**
### Algoritmos e Programação com Linguagem Python
---

**Orientações Gerais:**

* Esta é o trabalho final prático onde serão trabalhados conceitos
apresentados e exercitados em sala de aula.

* Aspéctos como clareza e organização do código, comentários, raciocínio lógico, coerência no nome de variáveis, utilização das estruturas mais adequadas para a solução dos problemas e o funcionamento adequado serão analisados e irão compor o valor da nota final.

* Procure entender exatamente o que se pede antes de iniciar a codificação. Quando se sabe o que é necessário fazer, a codificação fica mais fácil, mais eficiente e mais divertida ;-).

* Faça o upload do notebook completo nomeado da seguinte forma: *nome_sobrenome_RA.ipynb*.

* No caso de grupos, informar ao professor os membros de cada grupo e cada um deverá importar o arquivo no Canvas individualmente.

* Arquivos com nomes incorretos serão desconsiderados!

* Não deixem dúvidas para trás! Acessem os grupos combinados ou entrem em contato com o professor.

✌ Sucesso o/

# RMS Titanic

O RMS Titanic foi um navio de passageiros britânico operado pela White Star Line e construído pelos estaleiros da Harland and Wolff em Belfast. Foi a segunda embarcação da Classe Olympic de transatlânticos depois do RMS Olympic e seguido pelo HMHS Britannic. Projetado pelos engenheiros navais Alexander Carlisle e Thomas Andrews, sua construção começou em março de 1909 e ele foi lançado ao mar em maio de 1911. O Titanic foi pensado para ser o navio mais luxuoso e mais seguro de sua época, gerando lendas que era supostamente "inafundável".

A embarcação partiu em sua viagem inaugural de Southampton para Nova Iorque em 10 de abril de 1912, no caminho passando em Cherbourg-Octeville na França e por Queenstown na Irlanda. Ele colidiu com um iceberg às 23h40min do dia 14 de abril e afundou na madrugada do dia seguinte matando mais de 1500 pessoas, sendo um dos maiores desastres marítimos em tempos de paz de toda a história. Seu naufrágio destacou vários pontos fracos de seu projeto, deficiências nos procedimentos de evacuação de emergência e falhas nas regulamentações marítimas da época. Comissões de inquérito foram instauradas nos Estados Unidos e no Reino Unido, levando a mudanças nas leis internacionais de navegação que permanecem em vigor mais de um século depois.

Os destroços do Titanic foram procurados por décadas até serem encontrados em 1985 por uma equipe liderada por Robert Ballard. Ele se encontra a 3843 m de profundidade e a 650 km ao sudeste de Terra Nova no Canadá. Sua história e naufrágio permaneceram no imaginário popular durante décadas, levando a produção de vários livros e filmes a seu respeito, mais notavelmente o filme Titanic de 1997. Até hoje o Titanic permanece como um dos navios mais famosos da história, com seus destroços atraindo várias expedições de exploração ao longo dos anos.

*Fonte:* [WikiPedia](https://pt.wikipedia.org/wiki/RMS_Titanic)

--------

A equipe da [Udacity](https://udacity.com) disponibilizou informações sobre uma parte dos passageiros à bordo do RMS Titanic no dia daquela tragédia. Esse _dataset_ que contém informações reais vem sendo utilizado em diversos estudos de caso, além de servir de base para aprendizado de Ciência de Dados, Estatística e Machine Learning.

O arquivo **titanic_data.csv** contém informações reais sobre os passageiros organizadas da seguinte forma:

- Survived (Sobreviveu): 0 = Não, 1 = Sim
- Pclass (Classe): Classe de ingresso 1 = 1º, 2 = 2º, 3 = 3º
- Sex (Sexo): Sexo do passageiro
- Age (Idade): Idade em anos
- Sibsp: Quantidade de irmãos / cônjuges a bordo do Titanic
- Parch: Quantidade de pais / crianças a bordo do Titanic
- Ticket (Bilhete): Número do bilhete de embarque
- Fare (Tarifa): Tarifa paga pelo Passageiro
- Cabin (Cabine): Número de cabine
- Embarked (Embarque): Porto de Embarque (C = Cherbourg, Q = Queenstown, S = Southampton)

O objetivo deste estudo é obter algumas informações estatísticas sobre a tragédia e realizar alguns _insights_ a respeito dos tripulantes e das circunstâncias do acidente.

Efetue a carga do arquivo através da biblioteca _Pandas_ e a partir do _DataFrame_ gerado, efetue as operações necessárias para responder as questões.

## Importando o DataSet

1 - Efetuar a leitura do dataset através do Pandas, gerando um DataFrame de nome tit, levando-se em consideração que o arquivo encontra-se na mesma pasta do notebook.

In [ ]:
import numpy as np
import pandas as pd
tit = pd.read_csv('/content/titanic_data.csv')

## Conhecendo o DataSet

2 - Quantas linhas e colunas tem o dataset? Quais os tipos das colunas?

In [ ]:
print(f'Possui {tit.shape[0]} linhas e {tit.shape[1]} colunas')
print()
tit.dtypes

Possui 891 linhas e 12 colunas

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

3 - Mostre os dados dos dez primeiros e 8 últimos registros do dataset.

In [ ]:
df_head_tail = tit.head(10).append(tit.tail(8))
df_head_tail

4 - Cálculos envolvendo colunas numéricas com dados faltantes podem sofrer impacto. É possível afirmar se há dados faltantes no dataset? Caso positivo, quais e quantos seriam esses dados? Preencha os dados faltantes de forma que não influenciem em operações futuras.

In [ ]:
#testando se há NaN em linhas ou colunas do dataset
print("Há dados faltantes no dataset.") if tit.isna().any().any() else print("Não há dados faltantes no dataset")
print()

#soma de ocorrência NaN em linhas e colunas
print(f"Total de ocorrências NaN: {tit.isna().sum().sum()}")
print()

#mostrar um dataframe de todos as linhas que tem pelo menos uma ocorrencia NaN
ocorrencias_nan = tit[tit.isna().any(axis=1)]
ocorrencias_nan

Há dados faltantes no dataset.

Total de ocorrências NaN: 866

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#substituir os NaN por 0
tit = tit.fillna(0)
tit

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,0,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,0.0,1,2,W./C. 6607,23.4500,0,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,0,Q

## Adequando o DataSet

5 - Uma vez que algumas colunas não serão utilizadas, eventualmente é melhor excluí-las para que não interfiram na análise. Assim, exclua do dataset as colunas Sibsp, Parch e Ticket.

In [ ]:
#excluindo as colunas Sibsp, Parch e Ticket
tit = tit.drop(['SibSp','Parch','Ticket'], axis=1)
tit

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,8.0500,0,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,13.0000,0,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,0.0,23.4500,0,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,7.7500,0,Q

6 - Renomear as colunas restantes para a lingua portuguesa, utilizando os seguintes nomes de colunas: IdPassageiro, Sobreviveu, Classe, Nome, Sexo, Idade, Tarifa, Cabine e Embarque.

In [ ]:
#renomeando para português as colunas
tit.rename(columns={'PassengerId': 'IdPassageiro', 'Survived': 'Sobreviveu', 'Pclass': 'Classe', 'Name': 'Nome', 'Sex': 'Sexo', 'Age': 'Idade', 'Fare': 'Tarifa', 'Cabin': 'Cabine', 'Embarked': 'Embarque'}, inplace=True)
tit

,IdPassageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Tarifa,Cabine,Embarque
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,8.0500,0,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,13.0000,0,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,0.0,23.4500,0,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,7.7500,0,Q

7 - Alterar o conteudo da coluna Sobreviveu para:
- 0 => Não
- 1 => Sim

In [ ]:
#substituindo 1 e 0 por sim e nao
tit['Sobreviveu'].replace({0 : 'Não', 1 : 'Sim'}, inplace = True)
tit

,IdPassageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Tarifa,Cabine,Embarque
0,1,Não,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,0,S
1,2,Sim,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,C85,C
2,3,Sim,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,0,S
3,4,Sim,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,C123,S
4,5,Não,3,"Allen, Mr. William Henry",male,35.0,8.0500,0,S
...,...,...,...,...,...,...,...,...,...
886,887,Não,2,"Montvila, Rev. Juozas",male,27.0,13.0000,0,S
887,888,Sim,1,"Graham, Miss. Margaret Edith",female,19.0,30.0000,B42,S
888,889,Não,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,0.0,23.4500,0,S
889,890,Sim,1,"Behr, Mr. Karl Howell",male,26.0,30.0000,C148,C
890,891,Não,3,"Dooley, Mr. Patrick",male,32.0,7.7500,0,Q

8 - Alterar o conteudo da coluna Sexo para:
- female => Mulher
- male   => Homem

In [ ]:
#taduzindo o conteudo da coluna sexo
tit['Sexo'].replace({'male' : 'Homem', 'female' : 'Mulher'}, inplace = True)
tit

,IdPassageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Tarifa,Cabine,Embarque
0,1,Não,3,"Braund, Mr. Owen Harris",Homem,22.0,7.2500,0,S
1,2,Sim,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Mulher,38.0,71.2833,C85,C
2,3,Sim,3,"Heikkinen, Miss. Laina",Mulher,26.0,7.9250,0,S
3,4,Sim,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Mulher,35.0,53.1000,C123,S
4,5,Não,3,"Allen, Mr. William Henry",Homem,35.0,8.0500,0,S
...,...,...,...,...,...,...,...,...,...
886,887,Não,2,"Montvila, Rev. Juozas",Homem,27.0,13.0000,0,S
887,888,Sim,1,"Graham, Miss. Margaret Edith",Mulher,19.0,30.0000,B42,S
888,889,Não,3,"Johnston, Miss. Catherine Helen ""Carrie""",Mulher,0.0,23.4500,0,S
889,890,Sim,1,"Behr, Mr. Karl Howell",Homem,26.0,30.0000,C148,C
890,891,Não,3,"Dooley, Mr. Patrick",Homem,32.0,7.7500,0,Q

## Alguns números

9 - Quantas mulheres e quantos homems estavam à bordo, de acordo com o dataset?

In [ ]:
by_gender = tit.groupby('Sexo')
by_gender.size()

Sexo
Homem     577
Mulher    314
dtype: int64

10 - Quantos passageiros sobreviveram e quantos não sobreviveram?

In [ ]:
tit.groupby('Sobreviveu').size()

Sobreviveu
Não    549
Sim    342
dtype: int64

11 - Quantas mulheres não sobreviveram?

In [ ]:
#separando os dados de mulheres nao sobreviventes por idade e contando depois
mulheres_nao_sobreviventes = int(tit[(tit['Sexo'] == 'Mulher') & (tit['Sobreviveu'] == 'Não')]['Sexo'].value_counts())
print(f'Não sobreviveram {mulheres_nao_sobreviventes} mulheres')

Não sobreviveram 81 mulheres

12 - Proporcionalmente, sobreviveram mais homens ou mais mulheres? Cite as proporções.

In [ ]:
#calculando a proporção de homens
homens_sobreviventes = int(tit[(tit['Sexo'] == 'Homem') & (tit['Sobreviveu'] == 'Sim')]['Sexo'].value_counts())
total_homens = int(tit[(tit['Sexo'] == 'Homem')]['Sexo'].value_counts())
proporcao_homens = homens_sobreviventes / total_homens

#calculando a proporção de mulheres
mulheres_sobreviventes = int(tit[(tit['Sexo'] == 'Mulher') & (tit['Sobreviveu'] == 'Sim')]['Sexo'].value_counts())
total_mulheres = int(tit[(tit['Sexo'] == 'Mulher')]['Sexo'].value_counts())
proporcao_mulheres = mulheres_sobreviventes / total_mulheres

if proporcao_mulheres > proporcao_homens:
  print(f'Proporcionalmente sobreviveram mais mulheres que homens. As proporções são {proporcao_mulheres} e {proporcao_homens}, respectivamente.')
elif proporcao_homens > proporcao_mulheres:
  print(f'Proporcionalmente sobreviveram mais homens que mulheres. As proporções são {proporcao_homens} e {proporcao_mulheres}, respectivamente.')
else:
  print(f'As proporções foram iguais: {proporcao_homens}')

Proporcionalmente sobreviveram mais mulheres que homens. As proporções são 0.7420382165605095 e 0.18890814558058924, respectivamente.

13 - Levando-se em consideração a idade dos passageiros, qual a idade e quantidade de pessoas com o maior número de mortos?

In [ ]:
#separando os dados de nao sobreviventes por idade e contando depois
idade_mortos = tit[tit['Sobreviveu'] == 'Não']['Idade'].replace(0, np.nan)
idade_mortos.dropna(axis=0)
idade_mortos = idade_mortos.value_counts()
print(f'A idade com maior número de mortos foi de {idade_mortos.index[0]} anos')

A idade com maior número de mortos foi de 21.0 anos

14 - Qual a média de idade dos homens sobreviventes?

In [ ]:
media_homens_sobreviventes = tit[(tit['Sexo'] == 'Homem') & (tit['Sobreviveu'] == 'Sim')]['Idade'].replace(0, np.nan)
media_homens_sobreviventes.dropna(axis=0)
print(f'A média de idade de homens sobreviventes foi de {round(media_homens_sobreviventes.mean(), 1)} anos')

A média de idade de homens sobreviventes foi de 27.3 anos

15 - Levando-se em consideração passageiros prioritários (mulheres e crianças de até 15 anos independente do sexo) qual a proporção de sobreviventes por sexo?

In [ ]:
meninos_sobreviventes = int(tit[(tit['Sexo'] == 'Homem') & (tit['Idade'] <= 15) & (tit['Idade'] != 0) & (tit['Sobreviveu'] == 'Sim')]['Sexo'].value_counts())
total_meninos = int(tit[(tit['Sexo'] == 'Homem') & (tit['Idade'] <= 15) & (tit['Idade'] != 0)]['Sexo'].value_counts())
proporcao_meninos = meninos_sobreviventes / total_meninos
print(f'A proporção de passageiros prioritários sobreviventes foi de: {proporcao_meninos} de homens e {proporcao_mulheres} mulheres')

A proporção de passageiros prioritários sobreviventes foi de: 0.525 de homens e 0.7420382165605095 mulheres

16 - Qual a quantidade de passageiros por classe?

In [ ]:
tit.groupby('Classe').size()

Classe
1    216
2    184
3    491
dtype: int64

17 - Qual o percentual de sobreviventes por classe?

In [ ]:
classe_sobreviventes1 = int(tit[(tit['Classe'] == 1) & (tit['Sobreviveu'] == 'Sim')]['Classe'].value_counts())
total_sobreviventes1 = int(tit[(tit['Classe'] == 1)]['Classe'].value_counts())
classe_sobreviventes2 = int(tit[(tit['Classe'] == 2) & (tit['Sobreviveu'] == 'Sim')]['Classe'].value_counts())
total_sobreviventes2 = int(tit[(tit['Classe'] == 2)]['Classe'].value_counts())
classe_sobreviventes3 = int(tit[(tit['Classe'] == 3) & (tit['Sobreviveu'] == 'Sim')]['Classe'].value_counts())
total_sobreviventes3 = int(tit[(tit['Classe'] == 3)]['Classe'].value_counts())

print(f'A porcentagem de sobreviventes na classe 1 é de {round(classe_sobreviventes1/total_sobreviventes1*100)}%, na classe 2 é de {round(classe_sobreviventes2/total_sobreviventes2*100)}% e na classe 3 é {round(classe_sobreviventes3/total_sobreviventes3*100)}%.')

A porcentagem de sobreviventes na classe 1 é de 63%, na classe 2 é de 47% e na classe 3 é 24%.

18 - Crie um dataframe que demonstre a quantidade de sobreviventes e não sobreviventes, agrupados por sexo e classe.

In [ ]:
resultados = tit.groupby(by=['Sexo', 'Classe', 'Sobreviveu'])
resultados = resultados.size().reset_index(name='Contagem')
resultados

      Sexo  Classe Sobreviveu  Contagem
0    Homem       1        Não        77
1    Homem       1        Sim        45
2    Homem       2        Não        91
3    Homem       2        Sim        17
4    Homem       3        Não       300
5    Homem       3        Sim        47
6   Mulher       1        Não         3
7   Mulher       1        Sim        91
8   Mulher       2        Não         6
9   Mulher       2        Sim        70
10  Mulher       3        Não        72
11  Mulher       3        Sim        72

19 - Dos homens com idade entre 24 e 30 anos quantos da classe 3 sobreviveram? Quantos da classe 2 não sobreviveram?

In [ ]:
homens_classe3 = int(tit[(tit['Classe'] == 3) & (tit['Sobreviveu'] == 'Sim') & (tit['Sexo'] == 'Homem') & (tit['Idade'] >= 24)  & (tit['Idade'] <= 30)]['Classe'].value_counts())
homens_classe2 = int(tit[(tit['Classe'] == 2) & (tit['Sobreviveu'] == 'Não') & (tit['Sexo'] == 'Homem') & (tit['Idade'] >= 24)  & (tit['Idade'] <= 30)]['Classe'].value_counts())
print(f'Sobreviveram {homens_classe3} homens na classe 3 e não sobreviveram {homens_classe2} homens na classe 2 entre 24 e 30 anos')

Sobreviveram 12 homens na classe 3 e não sobreviveram 24 homens na classe 2 entre 24 e 30 anos